.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 178%;
  color: #AAAAAA;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    width: 288px;
    margin: auto auto 12px;
  }
}
