.place__heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 178%;
  color: #AAAAAA;
  padding-bottom: 12px;
  width: max-content;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .place__heading {
    line-height: 12px;
  }
}

