@font-face {
    font-family: 'Inter', sans-serif;
    src: url(https://rsms.me/inter/inter.css.woff) format('woff');
    src: url(https://rsms.me/inter/inter.css.woff2) format('woff2');
    font-weight: normal;
}